---
title: "Kerala Assembly Election 2016"
---

<section id="election" class="page">
  <div class="row">
    <div class="col-md-12">

      <h2>Kerala Assembly Election 2016</h2>

      <h3>About Indian Pirates</h3>
      <p>No one asked us how we think this world should be. We should no longer accept what we supposedly cannot change. Instead, we need to change what we cannot accept. So we are remaking this world the way we think it should be - based on Equality, Democracy and Transparency!</p>
      <p>More about Indian Pirates:</p>
      <ul>
        <li>A platform of the people where everyone has equal voting rights and opportunities.</li>
        <li>Open to everyone.</li>
        <li>Transparent in all decision making.</li>
        <li>Stands for Human Rights & Social Justice.</li>
        <li>Everyone is a leader here.</li>
      </ul>
      <p>We recommend you to read the <a href="/constitution" target="_blank">Indian Pirates Constitution</a> to know more.</p>

      <h3>Why we are contesting the Assembly Election</h3>
      <ul class="questions">
        <li>Are you happy with the way things are in our society?</li>
        <li>What changes you want to see?</li>
        <li>Do you trust any parties to do it for you?</li>
        <li>Do you really think your leaders represent you?</li>
        <li>Why outsource your thinking?</li>
      </ul>
      <p>We're sure that you are so desperate to bring changes to the society. So are we! Don't hesitate anymore, join the Indian Pirates and bring the changes yourself.</p>

      <h3>What makes Indian Pirates different</h3>
      <p>Direct Democracy, Transparency and Loyalty to the Principles rather than to the leaders make the Indian Pirates different from the hundreds of political parties and groups out there.</p>
      <h4><b>Direct Democracy</b></h4>
      <p>Direct Democracy or Participatory Democracy means that every member has equal voice and say in any decision making. Direct democracy is one of the basic principles of the Indian Pirates. The structure is flat as compared to normal hierarchical structure, i.e. all the members are on the same level, no one is over or below. There will be no supreme authority which will make decision and also there will not be any blind followers. Here everyone has equal rights,  voice and say in every decision.</p>
      <h4><b>Transparency</b></h4>
      <p>The whole discussions and decisions of the Indian Pirates are publicly accessible. The discussions usually take place at online forum called codema.in (a <a href="https://loomio.org">Loomio</a> instance hosted by <a href="https://fsci.in">FSCI</a>) . Anyone who visits the Indian Pirates group on codema.in can view the discussions that went into each decision. There is nothing called closed door discussions or high level decisions.</p>
      <h4><b>Loyalty to Principles</b></h4>
      <p>The Indian Pirates expect loyalty to the basic principles and the constitution rather than the loyalty to the leaders or the party. This implies that no one should blindly follow what is said, rather question everything and if found anything violating the basic principles of the Indian Pirates, oppose them.</p>

      <h3>What we plan to do</h3>
      <p>We aim to spread our principles of Human Rights, Social Justice and Direct Democracy to the masses by contesting in the elections. Our main aim throughout the campaign will be to convey our ideas of how Indian Pirates are different from the existing political parties. Direct democracy and transparent discussions and policies being the key differentiators.</p>

      <h3>Meet the Candidate</h3>
      <a href="https://poddery.com/u/praveen" target="_blank"><img class="img img-responsive thumbnail" src="/img/pirate_praveen.jpg"></a>
      <p><b>Name</b>: <a href="https://poddery.com/u/praveen" target="_blank">Praveen Arimbrathodiyil</a></p>
      <p><b>Assembly</b>: Thiruvananthapuram</p>

      <h3>What we need</h3>
      <p>We are contesting the upcoming elections to Kerala Legislative Assembly and we need your support. We require money for the following:</p>
      <ul>
        <li>Security deposit - Rs. 10,000/- (without which we cannot contest).</li>
        <li>For creating publicity materials like pamphlets and posters.</li>
        <li>For covering basic expenses of volunteers.</li>
      </ul>

      <h3>How you can help</h3>
      <p>If you can't contribute money,  that doesn't mean you can't be part of our campaign. What we need is your true support more than anything else. You can help by:</p>
      <ul>
        <li>Get the word out and make some noise about our campaign.</li>
        <li>Join us for online or even on-site campaigning.</li>
      </ul>
      <p>Read <a href="https://poddery.com/u/praveen" target="_blank">Pirate Praveen's</a> blog post for his motivations and background of Indian Pirates <a href="http://www.j4v4m4n.in/2016/04/14/kerala-assembly-elections-2016-and-my-candidature/" target="_blank">here</a>.</p>

      <h3 id="donate">Donate to the campaign</h3>
      <h4>Bank Account Details:</h4>
      <ul>
        <li><b>Name</b>: Praveen Arimbrathodiyil</li>
        <li><b>Account Number</b>: 11470100301235</li>
        <li><b>Bank</b>: Federal Bank</li>
        <li><b>Branch</b>: Alanallur</li>
        <li><b>IFSC</b>: FDRL0001147</li>
      </ul>

      <h4>Contributors so far:</h4>
      <table class="table">
	<thead><tr><td>Name</td><td>Amount</td></tr></thead>
	<tbody><tr><td>Rajesh Ranjan</td><td>Rs. 10,000/-</td></tr>
	<tr><td>Arjun J</td><td>Rs. 3,000/-</td></tr>
	<tr><td>Fayad Fami</td><td>Rs. 2,000/-</td></tr>
	<tr><td>Jyothish</td><td>Rs. 1,000/-</td></tr>
	<tr><td>Minto Joseph</td><td>Rs. 1,000/-</td></tr>
	<tr><td>Joice Joseph</td><td>Rs. 1,000/-</td></tr>
	<tr><td>Faheem Mitha</td><td>Rs. 1,000/-</td></tr>
	<tr><td>Praveen Arimbrathodiyil</td><td>Rs. 600/-</td></tr>
	<tr><td>Pranav Ashok</td><td>Rs. 500/-</td></tr>
	<tr><td>TOTAL</td><td>Rs.12,100/-</td></tr></tbody>
      </table>

      <h4>Expenses met:</h4>
      <table class="table">
	<thead><tr><td>Expenses</td><td>Amount</td></tr></thead>
	<tbody>	<tr><td>Election Deposit</td><td>Rs. 10,000/-</td></tr>
	  <tr><td>Affidavits & Stamps</td><td>Rs. 1,700/-</td></tr>
	  <tr><td>Notices (A5, double side, B&W, 500 Copies)</td><td>Rs. 660/-</td></tr>
	  <tr><td>Business Cards (Colour, 500 Copies)</td><td>Rs. 790/-</td></tr>
	  <tr><td>Posters</td><td>Rs. 1,340/-</td></tr>
	  <tr><td>Cardboard & Gum</td><td>Rs. 173/-</td></tr>
	  <tr><td>ATM Charges</td><td>Rs. 23/-</td></tr>
	  <tr><td>Miscellaneous</td><td>Rs. 718/-</td></tr></tbody>
      </table>

      <h4>Final Balance: Rs. 5,296/-</h4>

      <h3>Contact us</h3>
      <p>If you have any suggestions/queries feel free to contact us at <a href="mailto:ahoy@pirates.org.in">ahoy@pirates.org.in</a></p>
    </div>
  </div>
</section>
</div><!--This closes the "body-container" div element opened in the header.php-->
