---
title: "Indian Pirates endorse the following joint statement by Rethink Aadhaar, Internet Freedom Foundation, Article 21 Trust and Swathanthra Malayalam Computing on making Aadhaar compulsory for Kerala PSC Jobs"
slug: "aadhaar-kerala-psc"
---
<section id="statement" class="page">
  <h5 class="date">July 20, 2020</h5>
  <div class="content" style="text-align:left">
    <p>Kalyani Menon Sen, a citizen, and petitioner in the batch of writ petitions challenging the constitutionality of Aadhaar in <em>KS Puttaswamy v Union of India</em> (2019 10 SCC 1) has sent the Government of Kerala a legal notice demanding that it withdraw a recent order mandating compulsory Aadhaar verification for all new applicants and recent appointees to state government jobs. Internet Freedom Foundation, Rethink Aadhaar, Article 21 and Swathanthra Malayalam Computing endorse this legal notice, and call on the Kerala Government to withdraw this order.</p>

    <p>The order dated 11.06.2020, which was issued by the Kerala Government's Department of Personnel & Administrative Reforms, relates to applicants and new appointments to the Kerala Public Service Commission. As Ms. Menon Sen's legal notice notes, mandating Aadhaar verification for new appointees and applicants violates the order of the Supreme Court relating to Aadhaar, <em>KS Puttaswamy v Union of India</em> (2019 10 SCC 1).</p>

    <p>The 5 judge bench  specified that mandating the use of Aadhaar numbers, whether for verification or any other purpose, was constitutionally valid for two purposes only: for linking with PAN numbers, and for obtaining welfare benefits in the nature of a subsidy which is funded from the Consolidated Fund of India. The Hon’ble Supreme Court also read down Section 57 of the Aadhaar Act (as it then stood), and specified that the State could use Aadhaar only if it met the following two conditions: that such use was voluntary, and that such use was covered by primary legislation for that purpose.</p>

    <p>The purpose of preventing fraud cannot and should not be carried out by breaches to privacy, dignity and autonomy of individuals, especially in the absence of any clear basis in law. As a constitutional body, the Government of Kerala, and the KPSC are bound to uphold the rule of law and the judgements of the Supreme Court, and should withdraw the notification, and clarify that Aadhaar verification remains optional.</p>

    <div id="references">
      <h3>References</h3>
      <ul class="citation">
        <li>Statement published on RethinkAadhaar.in: <a href="https://rethinkaadhaar.in/blog/2020/6/29/the-government-of-kerala-must-withdraw-compulsory-aadhaar-for-state-government-jobs" target="blank">https://rethinkaadhaar.in/blog/2020/6/29/the-government-of-kerala-must-withdraw-compulsory-aadhaar-for-state-government-jobs</a></li>
        <li>Statement published on InternetFreedom.in: <a href="https://internetfreedom.in/joint-statement-kerala-aadhaar/" target="blank">https://internetfreedom.in/joint-statement-kerala-aadhaar/</a></li>
        <li>Statement published on SMC.org.in including the Malayalam version: <a href="https://smc.org.in/blog/statement-legal-notice-gok-aadhaar" target="blank">https://smc.org.in/blog/statement-legal-notice-gok-aadhaar</a></li>
        <li>Copy of the legal notice sent to the Government of Kerala: <a href="https://blog.smc.org.in/content/images/2020/06/LegalNoticeAadhaarDigilockerOTVOrderKPSC.pdf" target="blank">https://blog.smc.org.in/content/images/2020/06/LegalNoticeAadhaarDigilockerOTVOrderKPSC.pdf</a></li>
        <li>Discussion thread on codema.in: <a href="https://codema.in/d/Oeg61XDm/revoke-the-decision-on-making-aadhaar-compulsary-for-kerala-psc-jobs" target="_blank">https://codema.in/d/Oeg61XDm/revoke-the-decision-on-making-aadhaar-compulsary-for-kerala-psc-jobs</a></li>
      </ul>
    </div>
  </div>
</section>
