---
title: "Indian Pirates urges the people to boycott Facebook"
slug: "boycott-facebook"
---

<section id="statement" class="page">
  <h5 class="date">August 31, 2020</h5>
  <div class="content" style="text-align:left">
    <p>As reported by Wall Street Journal, Facebook is biased towards ruling party in India<sup><a href="#references">[1][2][3]</a></sup>. This was inevitable as expecting a profit making corporation to be fair when their profits are at stake is naive. So we are asking people to boycott such centralized social media platforms like Facebook and WhatsApp which has a really bad track record when it comes to privacy of the users or influencing political choices of users or siding with ruling parties. We recommend switching to federated social media like Mastodon<sup><a href="#references">[4]</a></sup>, Diaspora<sup><a href="#references">[5]</a></sup>, Matrix<sup><a href="#references">[6]</a></sup> and XMPP<sup><a href="#references">[7]</a></sup>. These are not controlled by a single entity and you can find instances not motivated by making profit from data of its users. If we don't find any existing instance matching our expectation, we even have an option to start our own. If you need to know more or need any help in switching to such privacy-respcting services feel free to contact us<sup><a href="#references">[8]</a></sup>.</p>

    <p>Indian Pirates already run our own instances of Diaspora, Matrix and XMPP at <a href="https://diasp.in" target="_blank">https://diasp.in</a>.</p>

    <h3>How moderation and blocking hate speech work in a decentralized social media?</h3>

    <p>There are many interconnected/interoperable instances or service providers speaking the same protocol (much like email and telecom service providers) with each run by different people, organizations or groups. We have a choice of service providers matching our political positions. Many of these service providers are not motivated by profits from user data, have a track record of standing up for privacy/free speech, or financially supported by users. If we find any of our services providers are not living up to their promises, we have a choice of moving to a different provider without losing any of our contacts (like how we port our mobile numbers). In case of centralized platforms like Facebook motivated by profits from user data, we have no choice to move to a different provider without losing our existing network or keep them accountable to their own policies. Decentralized platforms cannot eliminate hate speech completely, but they can help us reduce reach and influence of hate speech. It gives more power to every user to decide how much of opposing views they want to hear - from accepting all speech to blocking all content they don't like, the choice is ours.</p>

    <p>When we boycott Facebook, we reduce the power and influence of Facebook and make it effectively a private group of right wing supporters. When we switch to decentralized media, we don't give up on the benefits of using social media for organizing ourselves.</p>

    <div id="references">
      <h3>References</h3>
      <ul class="citation">
        <li>[1] <a href="https://indianexpress.com/article/india/facebook-action-on-bjp-hate-posts-business-reasons-6556552" target="blank">https://indianexpress.com/article/india/facebook-action-on-bjp-hate-posts-business-reasons-6556552</a></li>
        <li>[2] <a href="https://thewire.in/tech/facebook-hate-speech-bjp-wall-street-journal" target="blank">https://thewire.in/tech/facebook-hate-speech-bjp-wall-street-journal</a></li>
        <li>[3] <a href="https://www.wsj.com/articles/facebook-hate-speech-india-politics-muslim-hindu-modi-zuckerberg-11597423346" target="blank">https://www.wsj.com/articles/facebook-hate-speech-india-politics-muslim-hindu-modi-zuckerberg-11597423346</a> (needs subscription)</li>
        <li>[4] <a href="https://joinmastodon.org/" target="blank">https://joinmastodon.org</a></li>
        <li>[5] <a href="https://diasporafoundation.org/" target="blank">https://diasporafoundation.org</a></li>
        <li>[6] <a href="https://matrix.org/clients/" target="blank">https://matrix.org/clients</a></li>
        <li>[7] <a href="https://xmpp.org/software/clients.html" target="blank">https://xmpp.org/software/clients.html</a></li>
        <li>[8] E-mail: ahoy at pirates.org.in</li>
        <li>Discussion thread on codema.in: <a href="https://codema.in/d/whPSoYc0/citing-business-reasons-facebook-opposed-action-on-bjp-linked-hate-posts-wsj-report" target="_blank">https://codema.in/d/whPSoYc0/citing-business-reasons-facebook-opposed-action-on-bjp-linked-hate-posts-wsj-report</a></li>
      </ul>
    </div>
  </div>
</section>
