---
title: "Open Letter to Arvind Kejriwal on his all male cabinet"
slug: "letter-to-arvind-kejriwal"
---
<section id="statement" class="page">
  <h5 class="date">March 8, 2015</h5>
  <div class="content">
    <p>In our society discrimination against women based on gender is ubiquitous. This is manifested in not just extreme forms like female foeticide or honour killings, but also daily life situations like restriction on their free movement especially after twilight, having none or inadequate public toilets, the list goes on. We need to eliminate this routine systematized discrimination if we want to be fair and give both halves of the population equal opportunities. This will be possible only by conscious interventions and giving more voice to women in policy making and governance. We have a representative democracy and any party or government that cares for fairness for all sections of society should include as diverse voices in their decision making as possible. This will enrich their decision making by considering diverse experiences, for, no matter how sensible and empathetic a person is, there are some things one can experience only if they are a woman. In this light we are concerned by and strongly condemn the fact that there is no women in Delhi cabinet led by Arvind Kejriwal. We request the AAP leadership to keep in mind that nobody is above critique, consider this issue more seriously and be answerable to the public about what made you choose a cabinet with no woman even though woman empowerment was a major point in your manifesto - arrogance or lack of belief in equality?</p>
  </div>
</section>
